Options +FollowSymlinks
RewriteEngine on
RewriteBase /
#RewriteBase /sitebuild/

# Allow images, zip and CSS
RewriteRule .*\.(png|jpg|jpeg|gif)$ - [L]
RewriteRule .*\.zip$ - [L]
RewriteRule .*\.css$ - [L]

# Deny core files
RewriteRule ^\..* - [F,L]
RewriteRule ^(instructions|devices|controller\.php)($|/) - [F,L]

# Have nicer URL using a simple controller
RewriteCond %{QUERY_STRING} ^$
RewriteRule (.*)$ index.php?page=$1 [NC,L]