#warning{
    color: red;
    text-transform: uppercase;
}

table, td, th{
	border: 1px solid black
}
table{
	margin-left:auto; margin-right:auto;
}
p{
	margin-left:2%;
}

code {
    font-size: 1em;
}

h1 a, h1 a:visited { color: #484848; }
h1.methode { text-align: center; }

.grid {
  overflow: hidden;
}
.grid > * {
  margin-left: -20px;
}
.grid > * > * {
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}
.grid-4 > * {
  width: 25%;
}

.choice { margin: 2em; }
.choice h2 a { text-decoration: underline; }
